In [1]:
#Tarea4
import pandas as pd
import numpy as np

df4 = pd.read_excel("datosfinalesapartamentos.xlsx")  


print(df4.info())
print(df4.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8939 entries, 0 to 8938
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8939 non-null   int64
 1   category            8939 non-null   object
 2   title               8939 non-null   object
 3   body                8939 non-null   object
 4   amenities           6001 non-null   object
 5   bathrooms           8939 non-null   float64
 6   bedrooms            8939 non-null   int64
 7   currency            8939 non-null   object
 8   fee                 8939 non-null   object
 9   has_photo           8939 non-null   object
 10  pets_allowed        8939 non-null   object
 11  price               8939 non-null   int64
 12  price_display       8939 non-null   object
 13  price_type          8939 non-null   object
 14  square_feet         8939 non-null   int64
 15  address             5803 non-null   object
 16  cityname            8939 non-null   object
 17  state               8939 non-null   object
 18  latitude            8939 non-null   float64
 19  longitude           8939 non-null   float64
 20  source              8939 non-null   object
 21  time                8939 non-null   int64
 22  AC                  8939 non-null   int64
 23  Alarm               8939 non-null   int64
 24  Basketball          8939 non-null   int64
 25  Cable or Satellite  8939 non-null   int64
 26  Clubhouse           8939 non-null   int64
 27  Dishwasher          8939 non-null   int64
 28  Doorman             8939 non-null   int64
 29  Elevator            8939 non-null   int64
 30  Fireplace           8939 non-null   int64
 31  Garbage Disposal    8939 non-null   int64
 32  Gated               8939 non-null   int64
 33  Golf                8939 non-null   int64
 34  Gym                 8939 non-null   int64
 35  Hot Tub             8939 non-null   int64
 36  Internet Access     8939 non-null   int64
 37  Luxury              8939 non-null   int64
 38  Parking             8939 non-null   int64
 39  Patio/Deck          8939 non-null   int64
 40  Playground          8939 non-null   int64
 41  Pool                8939 non-null   int64
 42  Refrigerator        8939 non-null   int64
 43  Storage             8939 non-null   int64
 44  TV                  8939 non-null   int64
 45  Tennis              8939 non-null   int64
 46  View                8939 non-null   int64
 47  Washer Dryer        8939 non-null   int64
 48  Wood Floors         8939 non-null   int64
dtypes: float64(3), int64(32), object(14)
memory usage: 3.3+ MB
None
           id                category  \
0  5668626895  housing/rent/apartment
1  5664597177  housing/rent/apartment
2  5668626833  housing/rent/apartment
3  5659918074  housing/rent/apartment
4  5668626759  housing/rent/apartment

                                               title  \
0  Studio apartment 2nd St NE, Uhland Terrace NE,...
1                  Studio apartment 814 Schutte Road
2  Studio apartment N Scott St, 14th St N, Arling...
3                     Studio apartment 1717 12th Ave
4  Studio apartment Washington Blvd, N Cleveland ...

                                                body amenities  bathrooms  \
0  This unit is located at second St NE, Uhland T...       NaN        1.0
1  This unit is located at 814 Schutte Road, Evan...       NaN        1.0
2  This unit is located at N Scott St, 14th St N,...       NaN        1.0
3  This unit is located at 1717 12th Ave, Seattle...       NaN        1.0
4  This unit is located at Washington Blvd, N Cle...       NaN        1.0

   bedrooms currency fee  has_photo  ... Patio/Deck  Playground Pool  \
0         0      USD  No  Thumbnail  ...          0           0    0
1         1      USD  No  Thumbnail  ...          0           0    0
2         0      USD  No  Thumbnail  ...          0           0    0
3         0      USD  No  Thumbnail  ...          0           0    0
4         0      USD  No  Thumbnail  ...          0           0    0

  Refrigerator  Storage TV Tennis View  Washer Dryer  Wood Floors
0            0        0  0      0    0             0            0
1            0        0  0      0    0             0            0
2            0        0  0      0    0             0            0
3            0        0  0      0    0             0            0
4            0        0  0      0    0             0            0

[5 rows x 49 columns]

In [2]:

#Division datos prueba 
from sklearn.model_selection import train_test_split

y = df4["price"]  # La columna 'price' es nuestra salida

# Variables predictoras (las usamos para predecir)
X = df4[["square_feet"]]  # Solo usamos 'square_feet' por ahora

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [3]:
#Regresion
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

y_pred = model_lr.predict(X_test)
print(model_lr.intercept_)
print(model_lr.coef_)

print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

842.5872365408461
[0.53547505]
MAE: 361.8411129758515
MSE: 210989.2617431468
R² Score: 0.10324826826611178

In [4]:
#Otro modelo
#Division datos prueba 
from sklearn.model_selection import train_test_split

y = df4["price"]  # La columna 'price' es nuestra salida

# Variables predictoras (las usamos para predecir)
X = df4[["square_feet", "bedrooms", "bathrooms"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

y_pred = model_lr.predict(X_test)
print(model_lr.intercept_)
print(model_lr.coef_)

print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

803.0182631538107
[  0.42452999 -17.04715817 124.72678299]
MAE: 361.34347448114255
MSE: 209576.30270685809
R² Score: 0.10925366139461834

In [5]:
# Crear nuevas columnas indicando si se permiten gatos o perros
df4["pets_allowed_Cats"] = df4["pets_allowed"].apply(lambda x: 1 if "Cats" in x else 0)
df4["pets_allowed_Dogs"] = df4["pets_allowed"].apply(lambda x: 1 if "Dogs" in x else 0)

# Verificar la transformación
print(df4[["pets_allowed", "pets_allowed_Cats", "pets_allowed_Dogs"]].head())

  pets_allowed  pets_allowed_Cats  pets_allowed_Dogs
0    Cats,Dogs                  1                  1
1    Cats,Dogs                  1                  1
2    Cats,Dogs                  1                  1
3    Cats,Dogs                  1                  1
4    Cats,Dogs                  1                  1

In [6]:
print(df4.head())

           id                category  \
0  5668626895  housing/rent/apartment
1  5664597177  housing/rent/apartment
2  5668626833  housing/rent/apartment
3  5659918074  housing/rent/apartment
4  5668626759  housing/rent/apartment

                                               title  \
0  Studio apartment 2nd St NE, Uhland Terrace NE,...
1                  Studio apartment 814 Schutte Road
2  Studio apartment N Scott St, 14th St N, Arling...
3                     Studio apartment 1717 12th Ave
4  Studio apartment Washington Blvd, N Cleveland ...

                                                body amenities  bathrooms  \
0  This unit is located at second St NE, Uhland T...       NaN        1.0
1  This unit is located at 814 Schutte Road, Evan...       NaN        1.0
2  This unit is located at N Scott St, 14th St N,...       NaN        1.0
3  This unit is located at 1717 12th Ave, Seattle...       NaN        1.0
4  This unit is located at Washington Blvd, N Cle...       NaN        1.0

   bedrooms currency fee  has_photo  ... Pool  Refrigerator Storage TV  \
0         0      USD  No  Thumbnail  ...    0             0       0  0
1         1      USD  No  Thumbnail  ...    0             0       0  0
2         0      USD  No  Thumbnail  ...    0             0       0  0
3         0      USD  No  Thumbnail  ...    0             0       0  0
4         0      USD  No  Thumbnail  ...    0             0       0  0

   Tennis View Washer Dryer Wood Floors  pets_allowed_Cats  pets_allowed_Dogs
0       0    0            0           0                  1                  1
1       0    0            0           0                  1                  1
2       0    0            0           0                  1                  1
3       0    0            0           0                  1                  1
4       0    0            0           0                  1                  1

[5 rows x 51 columns]